@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Register</h2>
                <form asp-controller="Register" asp-action="Register" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="Name" required="" value="@Model.Name" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="Email" required="" value="@Model.Email" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="Password" required="" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <div class="mt-3 text-center">
                    <p>
                        Already have an account?
                        <a asp-controller="Login" asp-action="Index">
                            <button class="btn btn-link">Login</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
