@{
    ViewData["Title"] = "ExperiencePopup"; Layout =
        "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/css/style.css" rel="stylesheet" />
    <div class=".bg-img2">
        <img src="~/img/background-2.png" />
        <div class="fade modal-backdrop show"></div>
        <div role="dialog"
             aria-modal="true"
             class="fade modal show"
             tabindex="-1"
             style="display: block">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4">Experience</div>
                        <a asp-action="Index">
                            <svg stroke="currentColor"
                                 fill="currentColor"
                                 stroke-width="0"
                                 viewBox="0 0 24 24"
                                 class="rounded edit"
                                 height="30"
                                 width="30"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form novalidate="" class="">
                            <div class="mb-3">
                                <label class="form-label">Title</label><input required=""
                                                                              placeholder="Ex: React Developer"
                                                                              name="title"
                                                                              type="text"
                                                                              class="form-control form-control-sm"
                                                                              value="" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Company Name</label><input required=""
                                                                                     placeholder="Ex: Amazon"
                                                                                     name="company"
                                                                                     type="text"
                                                                                     class="form-control form-control-sm"
                                                                                     value="" />
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input name="isWorking"
                                           type="checkbox"
                                           id="formBasicCheckbox"
                                           class="form-check-input" /><label title="" for="formBasicCheckbox" class="form-check-label">I am currently working in this role</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <label class="form-label">Start Month - Year</label>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <select title="" name="startMonth" class="form-select">
                                                    <option value="">Month</option>
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select title="" name="startYear" class="form-select">
                                                    <option value="">Year</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>
                                                    <option value="2031">2031</option>
                                                    <option value="2032">2032</option>
                                                    <option value="2033">2033</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <label class="form-label">End Month - Year</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <select title="" name="endMonth" class="form-select">
                                                            <option value="">Month</option>
                                                            <option value="January">January</option>
                                                            <option value="February">February</option>
                                                            <option value="March">March</option>
                                                            <option value="April">April</option>
                                                            <option value="May">May</option>
                                                            <option value="June">June</option>
                                                            <option value="July">July</option>
                                                            <option value="August">August</option>
                                                            <option value="September">September</option>
                                                            <option value="October">October</option>
                                                            <option value="November">November</option>
                                                            <option value="December">December</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select title="" name="endYear" class="form-select">
                                                            <option value="">Year</option>
                                                            <option value="2014">2014</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2016">2016</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                            <option value="2027">2027</option>
                                                            <option value="2028">2028</option>
                                                            <option value="2029">2029</option>
                                                            <option value="2030">2030</option>
                                                            <option value="2031">2031</option>
                                                            <option value="2032">2032</option>
                                                            <option value="2033">2033</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Location</label><input required=""
                                                                                 placeholder="Ex: Pune, India"
                                                                                 name="location"
                                                                                 type="text"
                                                                                 class="form-control form-control-sm"
                                                                                 value="" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label><input required=""
                                                                                    placeholder="Ex: Worked as a Front-End Developer"
                                                                                    name="description"
                                                                                    type="text"
                                                                                    class="form-control form-control-sm"
                                                                                    value="" />
                            </div>
                            <button type="submit" class="rounded edit px-2">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
